body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.p-rating .p-rating-item .p-rating-icon {
  color: #f97316 !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ff9f0d !important;
  background-color: #473c33 !important;
  border-radius: 50% !important;
  height: 2rem;
  width: 2rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem;
  font-weight: 700;
}

.swiper-pagination-bullet {
  background-color: #ff9f0d;
  font-size: 4rem;
}

.p-button {
  background-color: #f97316 !important;
  border: none;
}
.p-inputtext:enabled:focus {
  border-color: #f97316 !important;
}
.p-inputtext:enabled:hover {
  border-color: #f97316 !important;
}
